.all-left-txt{
    float: right;
}

body {
    background-color: var(--tertiary);
}

.color-violet { color: var(--primary); }
.color-jaune { color: var(--secondary); }
.color-blanc { color: var(--tertiary); }
.color-bleu { color: var(--quaternary); }
.color-bleu-vif { color: var(--quinary); }
.color-gris-clair { color: var(--senary); }
.color-gris-moyen { color: var(--septenary); }
.color-gris-fonce { color: var(--octonary); }
.color-noir { color: var(--nonary); }

.bg-violet { background: var(--primary); }
.bg-jaune { background: var(--secondary); }
.bg-blanc { background: var(--tertiary); }
.bg-bleu { background: var(--quaternary); }
.bg-gris-clair { background: var(--senary); }
.bg-gris-moyen { background: var(--septenary); }
.bg-gris-fonce { background: var(--octonary); }
.bg-noir { background: var(--nonary); }

.border-violet { border-color: var(--primary); }
.border-jaune { border-color: var(--secondary); }
.border-blanc { border-color: var(--tertiary); }
.border-bleu { border-color: var(--quaternary); }
.border-gris-clair { border-color: var(--senary); }
.border-gris-moyen { border-color: var(--septenary); }
.border-gris-fonce { border-color: var(--octonary); }
.border-noir { border-color: var(--nonary); }

.gradient-violet-bleu {
    background: linear-gradient(135deg, var(--primary) 0%, var(--quaternary) 100%);
}

.text-shadow-jaune {
    text-shadow: 0 4px 8px var(--shadowYellow);
}

.text-shadow-violet {
    text-shadow: 0 2px 8px var(--shadowViolet);
}

.big-text {
  font-size: 1.5em;
  font-weight: bold;
}
.medium-text {
  font-size: 1.15em;
}
.small-text {
  font-size: 0.95em;
}

.modal-content .modal-medium-text, .modal-content .modal-big-text, .modal-content .modal-small-text {
  font-size: inherit !important;
}